<!DOCTYPE html>
<html lang="en">
<head>
   {{>header_links}}
</head>
<body>
   {{>navbar}}
    <!-- mainheader -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/error.jpg" width = "500px" height = "500px" alt="rishi" class="'img-fluid" title="rishikesh">
                        </figure>
                        <p>welcome to weatherlookup app</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go back</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>